body,html{
    min-height:100%;
}
body{
    background:url(../img/fondo.png) no-repeat;
    background-size:cover;
}

header, header a{
    color:white;
}

.menu{
    list-style:none;
    margin:0px;
    padding:0px;
    text-align:center;
    margin-bottom:50px;
}

.menu li{
    display:inline-block;
    width:12.2%;
    position:relative;
}

.menu a{
    color:white;
}
.menu a:hover{
    text-decoration:none;
}

.menu div{
    background:#4d4b45;
    width:100%;
    height:12px;
    border:2px solid white;
}

.menu ul{
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    color: white;
    left: 0;
    margin: 0;
    padding: 2px 8px;
    position: absolute;
    text-align: left;
    top: 31px;
    width: 100%;
    display:none;
    cursor:pointer;
    z-index:10000;
}

.menu li:hover ul{
    display:block;
}

.menu ul li{
    display:block;
    border-bottom:1px solid white;
    width:100%;
}

.box{
    background:white;
    padding:20px;
}

.publicidad12060{
    width:120px;
    height:60px;
    background:#cdc2b1;
    text-align:center;
    margin:0 0 20px 0;
}

.publicidad125{
    width:125px;
    height:125px;
    background:#cdc2b1;
    text-align:center;
    margin:0 0 20px 0;
    
}

.publicidad240{
    width:120px;
    height:240px;
    background:#cdc2b1;
    text-align:center;
    margin:0 0 20px 0;
}

.publicidad60{
    width:480px;
    height:60px;
    background:#cdc2b1;
    text-align:center;
    margin:0 0 20px 0;
    display:inline-block;
}

.publicidad104{
    width:165px;
    height:104px;
    background:#cdc2b1;
    text-align:center;
    margin:0 0 20px 0;
}


.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}
